<div class="faq">
  <h1>{{ section.settings.heading }}</h1>

  {% for block in section.blocks %}
    {% if block.type == "FAQ" %}
      <div class="question">
        <input
          type="checkbox"
          id="question-{{ forloop.index }}"
          class="question-toggle">
        <label for="question-{{ forloop.index }}" class="question-label">{{ block.settings.question }}</label>
        <div class="answer">
          {{ block.settings.answer }}</div>
      </div>
    {% elsif block.type == "FAQ-Section" %}
      <h4>{{ block.settings.faq-section }}</h4>
    {% endif %}

  {% endfor %}


</div>

{% schema %}
  {
    "name": "FAQ List",
    "settings": [
      {
        "type": "text",
        "label": "Heading",
        "id": "heading"
      }
    ],
    "blocks": [
      {
        "type": "FAQ",
        "name": "FAQ",
        "settings": [
          {
            "type": "text",
            "label": "Question",
            "id": "question"
          }, {
            "type": "richtext",
            "label": "Answer",
            "id": "answer"
          }
        ]
      }, {
        "type": "FAQ-Section",
        "name": "FAQ Section",
        "settings": [
          {
            "type": "text",
            "label": "FAQ Section",
            "id": "faq-section"
          }
        ]
      }
    ]
  }
{% endschema %}